.details {
    width: 100%;
    font-style: normal;
    font-size: 16px;
    display: flex;
    overflow: hidden;
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 20px;
    vertical-align: top;
    gap: 30px;
    padding: 20px;

}
.sectionW{
    width: 48%;
}
.divDetails{
    height: 100vh;
}
.details img {
    width: 50%;
}

.details p{
    margin-top: 10px;
}

.title {
    display: flex;
    vertical-align: middle;
    justify-content: space-evenly;
    margin-bottom: 20px; 
    
}

.author {
    margin-top: 20px;
    font-weight: lighter;
    float: right;
    font-style: italic;
}

.title a {
    color: rgb(0, 153, 0);
    font-style: italic;
    text-decoration: none;
}

.action {
    display: flex;
    vertical-align: middle;
    justify-content: flex-start;
    gap: 30px;
    margin-top: 30px;
}
.action a{
    color: rgb(0, 153, 0);
    font-style: italic;
    text-decoration: none;
}